.app {
  display: flex;
  height: 100vh;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
}

.atm {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  width: 300px;
  padding: 30px;
  border-radius: 5px;
}

.screen {
  background-color: rgb(243, 243, 243);
  height: 300px;
  border-radius: 3px;
  padding: 15px;
}

.keyboard {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.keyboard > .principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(153, 153, 153);
  width: 70%;
  padding: 10px;
}

.keyboard > .actions {
  background-color: rgb(190, 190, 190);
  width: 30%;
  padding: 10px;
}

.key {
  display: flex;
  background-color: rgb(243, 243, 243);
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
}

.actions > .key {
  width: 98%;
}

.liNoDecoration {
  list-style: none;
}

.content > .key {
  background-color: rgb(216, 216, 216);
  border-color: gray;
  border-radius: 3px;
  width: 100%;
  height: 35px;
}

.content > .active {
  background-color: rgb(121, 121, 121);
}
